fastapi
uvicorn[standard]
sqlalchemy[asyncio]
aiomysql
pydantic
pydantic-settings
pydantic[email]
python-jose[cryptography]
passlib[bcrypt]
redis[hiredis]
httpx

# AI Agent
langchain
langchain-core
langchain-openai
langchain-community
langchain-text-splitters
faiss-cpu
sentence-transformers
torch --index-url https://download.pytorch.org/whl/cpu
